div.ui.container {
  display: grid;
  grid-template-rows: 40px 1fr;
  margin-top: 10px;

}

.lower {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.ui.items {
  margin: 0;
}

div.list.item.video {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}